
<section>
    <form id="form" action="/create-event" method="POST" enctype="multipart/form-data">
        <h1>Event</h1>
        <div>
            <label for="name">Event name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <h3>Menu: if only 1 course, then use the 'Main' input</h3>
            <label for="menu"></label>
            <input type="text" id="menu" name="menu">
        </div>
        <div>
            <label for=""></label>
            <input type="text" id="" name="">
        </div>
        <div>
            <label for=""></label>
            <input type="text" id="" name="">
        </div>
        <div>
            <label for=""></label>
            <input type="text" id="" name="">
        </div>
        <div>
            <label for=""></label>
            <input type="text" id="" name="">
        </div>
        <div>
            <label for=""></label>
            <input type="text" id="" name="">
        </div>

        <button>Yummy (｡◕‿◕｡)</button>
    </form>
</section>