<main>
<h1>Creating my Event:</h1>
    <form id="form" action="/create-event" method="POST" enctype="multipart/form-data">
        <article>
        <div>
        <h3>Name of my event:</h3>
            <input type="text" name="name" placeholder="Forest Cake in my Garden" value="Forest Cake in my Garden" required>
        </div>
        <div>
            <label for="type">Meal type</label>
            <select name="type" id="type" required>
                <option value="-1" disabled selected>Choose one meal</option>
                <option value="breakfast" selected>Breakfast</option>
                <option value="brunch">Brunch</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
            </select>
        </div>
        <div>
            <h3>Menu: if only 1 course, then use the 'Main' input</h3>
            <label for="starter">Starter</label>
            <input type="text" id="starter" name="starter" placeholder="Tomato mozarella" value="Tomato mozarella">
            <label for="main">Main</label>
            <input type="text" id="main" name="main" placeholder="Boeuf Bourguignon" value="Boeuf Bourguignon" required>
            <label for="dessert">Dessert</label>
            <input type="text" id="dessert" name="dessert" placeholder="Chocolate Banana cake">
        </div>
        <div>
            <h3>If restrictions apply?</h3>
            <label for="restrictions">Hold down the Ctrl (windows) or Command (Mac) button to select multiple options:</label>
            <select name="restrictions" id="restrictions" multiple>
                <option value="-1" disabled>Restrictions</option>
                {{!-- For each tag created : { _id: 5ea9780162a47f34beb837e3, restrictions: 'Vegetarian', __v: 0 }, (exemple of the first one--}}
                {{!-- Then we select by default the one in user.restrictions._id  because the User tag contains restrictions: [{ type: Schema.Types.ObjectId, ref: "Tag" }]--}}
                {{#each restrictionTags}}
                <option value="{{this._id}}">{{this.restrictions}}</option>
                {{/each}}
            </select>
        </div>
    </article>
    <article>
        <div>
            <h3>Date of the event</h3>
            {{!-- <label for="date"></label> --}}
            <input type="date" name="date" max="2020-12-31" min="2020-01-01" value="2020-05-03" required>
            {{!-- <label for="time">Time of the event</label>
            <input type="time" id="time" name="date" min="06:00" max="23:59" value="09:30" required> --}}
        </div>
        <div>
            <h3>Address of the event: street and city</h3>
            <input type="text" id="street" name="street" placeholder="rue du Boulanger" value="rue du Boulanger" required>
            <input type="text" id="city" name="city" placeholder="Paris" value="Paris" required>
        </div>
        <div>
            <h3>Guests</h3>
            <label for="peopleNumber">Number of guests</label>
            <input type="number" id="peopleNumber" name="peopleNumber" min="1" max="20" placeholder="1" value="2" required>
        </div>
        <div>
            <label for="price">Cost per guest in € (0 would be free)</label>
            <input type="number" id="price" name="price" min="0" max="300" placeholder="10" value="10" required>
        </div>
    </article>
    <article>
        <div>
            <h3>BONUS (optional)</h3>
            <label for="theme">Add a feast's theme?</label>
            <input type="text" id="theme" name="theme" placeholder="Renaissance costumes">
            <label class="label" for="image">Add a picture?</label>
            <input type="file" id="image" name="image">
            <label class="label" for="information">Complementary information:</label>
            <textarea name="information" id="information" name="information" placeholder="I have 2 fat angry dogs
+ a 'dromadaire' called Nelly" rows="10"></textarea>
        </div>

        <button>Yummy (｡◕‿◕｡)</button>
    </article>
    </form>
</main>