<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./javascript/index.js"></script>
</head>
<body>
    <section id="backgroundhome">

        <h1 style="padding-bottom:100px"></h1>

        <h1 id="textBox">Perfectly Food</h1>
        <h2>- Your culinary experiences in authentic settings -</h2>


    </section>
</body>
</html>