
<section>
       
    <form method="post" action="/login">
    <h1>Happy to see you again</h1>
        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
        <div>
            <label for="email">Email</label>
            <input id="email" type="email"  name="email" required value="{{signUpInfo.email}}">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password"required name="password" value="{{password}}">
        </div>
        <button>Log in !</button>
        <p>Don't have an account yet ? </p>
        <a href="/signup">Sign Up</a>
    </form>
</section>