<section>
        <h1>Happy to see you again</h1>

    <form method="post" action="/login">
        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
        <div>
            <label for="email">Email</label>
            <input id="email" type="email"  name="email" required value="albertledromadaire@gmail.com">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password"required name="password" value="1234">
        </div>
        <button>Log in !</button>
    </form>
    <p >Don't have an account yet ? <a href="/signup" >Sign Up</a></p>
</section>