<h1>Here are your events</h1>
<div style="display:flex;flex-wrap:wrap">
    {{#each events}}
    <div style="width:20%">
        <img style="width:20%;height:auto" src="{{this.imgPath}}" alt="">
        <h4>{{this.eventName}}</h4>
        <p>{{this.dateOfEvent}}</p>
    </div>
    {{else}}
    <p>You have no planned event at the moment</p>
    {{/each}}
</div>

