
.main-contents-events {
    border: 1px solid black;
    font-family: Arial;
    display: block;
  }
  
  .title-div {
    padding-top:6vmin;
    background-color: lightblue;
    color: white;
    text-align: center;
  }

    .events-title {
      padding: 20px 0;
  }

    @media only screen and (max-width:1400px) and (min-width:1301px){
    .title-div {
    padding-top:9vmin;
  }
  }

  @media only screen and (max-width:1300px) and (min-width:1050px){
    .title-div {
    padding-top:8vmin;
  }
  }

  @media only screen and (max-width:768px) {
    .title-div {
    padding-top:10vmin;
  }
    .events-title {
      padding-top: 3px;
  }
  }

    @media only screen and (max-width:640px) {
    .title-div {
    padding-top:17.5vmin;
  }
  }


  .events-wrapper{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .events-info{
    padding: 20px;
    text-align: center;
    margin: 1% !important;
    width: 23%;
    margin: auto;
    border: 1px solid black;
  }
  
  .img_events_all {
    height: 100px;
  }

  p {

      height: 45px;

  }

