

body{
  background-image: url("../images/salads.jpg");
  background-size: cover;
}
.main-contents-events {

    font-family: Arial;
    display: block;
  }
  
  .title-div {
    padding-top:6vmin;
    color: white;
    text-align: center;
  }

    .events-title {
      padding: 20px 0;
  }

    @media only screen and (max-width:1400px) and (min-width:1301px){
    .title-div {
    padding-top:9vmin;
  }
  }

  @media only screen and (max-width:1300px) and (min-width:1050px){
    .title-div {
    padding-top:8vmin;
  }
  }

  @media only screen and (max-width:768px) {
    .title-div {
    padding-top:10vmin;
  }
    .events-title {
      padding-top: 3px;
  }
  }

    @media only screen and (max-width:640px) {
    .title-div {
    padding-top:17.5vmin;
  }
  }


  .events-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
  }
  
  .events-info{
    padding: 20px;
    text-align: center;
    margin: 1% !important;
    width: 30vw;
    background-color: RGB(255, 255, 255, 0.8);
    border-radius: 5px;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;

  }

  .events-info-list {
    list-style: none;
    margin: auto;
  }
  
  .img_events_all {
    width: 150px;
    height: auto;
  }

  p {
    height: 37px;
  }

  .info-box {
    width: 15vw;
    float: right;
  }

  .tag-ul {
    background-color: RGB(255, 255, 255, 0.8);
    border-radius: 5px;
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    list-style-position: inside;
    width:60% !important;
    margin: 0 auto;
  }

  .info-li {
    padding: 0;
    margin: 0;
  }

  .padding-ul {
    padding-bottom:5px;
  }

  .middle-button {
    line-height: 37px;
  }