
.main-contents-events {
    border: 1px solid black;
    font-family: Arial;
    display: block;
  }
  
  .title-div {
    background-color: lightblue;
    color: white;
    text-align: center;
  }

  .events-wrapper{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .events-title {
      padding: 20px;
  }

  .events-info{
    padding: 20px;
    text-align: center;
    margin: 1% !important;
    width: 23%;
    margin: auto;
    border: 1px solid black;
  }
  
  .img_events_all {
    height: 100px;
  }

  p {

      height: 45px;

  }

