* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

section {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
  color: #00B7FF;
}

h1 {
  padding-bottom: 40px;
}

h3 {
  padding-bottom:25px;
  padding-top:15px
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  /* color: #666; */
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form select,
#form textarea,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

.label {
  padding-top:25px;
}

#form button {
  /* background: #43a3e6;
  border: 1px solid #43a3e6; */
  background: #f77f00;
  border:1px solid #f9ba54;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #02c39a;
  font-weight: bolder;
  border-color: #02c39a;
  transition: .3s ease background;
}

#form button:hover:before {
  content:'create ';
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
