
.main-contents-events {
    border: 1px solid black;
    font-family: Arial;
    display: block;
  }
  
  .title-div {
    background-color: lightblue;
    color: white;
    text-align: center;
  }

  .events-wrapper{
    display: flex;
    border: 1px solid black;
    padding: 10p;
    margin: 10px;
  }
  
  .events-title {
      padding: 20px;
  }

  .events-info{
    flex-direction: row;
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 25%;
    margin: auto;
    border: 1px solid black;
  }
  
  .img_events_all {
    width: 100px;
  }

  p {
    height: 45px;
  }

button {
    padding: 10px 20px;
   
}
  
h2 {
  text-align: center;
}

  
  
  
 
  
 
  
  